NODE_ENV=development
LOG_LEVEL="debug"
RUN_WORKER=true

# JWT configuration
JWT_ONBOARDING_SECRET=
JWT_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=

DATABASE_URL=
GOOGLE_MAPS_API_KEY=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# Cloudinary configuration
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Dojah configuration
DOJAH_API_URL=
DOJAH_APP_ID=
DOJAH_API_KEY=

# 
BRAILS_API_BASE_URL=
BRAILS_API_KEY=

# 
REDIS_URL=

